*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: rgb(78, 78, 117);
}
#main{
    height: 100%;
    width: 100%;
    padding-top: 17vh;
}
h3{
    margin: 15px 0px;
}
#main-center{
    margin: auto;
    height: max-content;
    border: 1px solid #000;
    width: 45vw;
    padding: 10px;
    background-color: white;
    border-radius: 1vh;
}
hr{
    margin: 15px 0px;
}
button{
    width: 100%;
    border: none;
    transition: all ease .3s;
    border-radius: 1vh;
    padding: 10px;
    font-size: 20px;
    margin: 5px 0px;
    text-align: start;
    color: black;
    border: 1px solid black;
}
button:hover:not([disabled]){
    background-color: #222;
    color: #fff;
}
.btn:disabled{
    cursor: no-drop;
}
#answer-button{
    display: flex;
    flex-direction: column;
    align-items: self-start;
}

#next-btn{
    width: 20%;
    text-align: center !important;
    background-color:royalblue;
    border-radius: 1vh;
    border: none;
    margin-left: 40% !important;
    margin-top: 15px !important;
    padding: 10px;
    font-size: 20px;
    margin: 5px 0px;
    text-align: start;
}
.correct{
    background-color: #9aeabc;
}
.incorrect{
    background-color: #ff9393;
}